#VS files
.\vs
.\vscode

#EmailAPI
MindMap_Email_API/bin
MindMap_Email_API/obj

#Gateway
MindMap_Gateway/bin
MindMap_Gateway/obj

#GeneralPurposeAPI
MindMap_General_Purpose_API/bin
MindMap_General_Purpose_API/obj

#WS 
MindMap_WebsocketServer/bin
MindMap_WebsocketServer/obj

#test
xUnit_General_Purpose_API/bin
xUnit_General_Purpose_API/obj
/TestResults