#VS files
.vs

#EmailAPI
MindMap_Email_API/bin
MindMap_Email_API/obj

#Gateway
MindMap_Gateway/bin
MindMap_Gateway/obj

#GeneralPurposeAPI
MindMap_General_Purpose_API/bin
MindMap_General_Purpose_API/obj

#WS 
MindMap_WebsocketServer/bin
MindMap_WebsocketServer/obj


MindMap_General_Purpose_API/obj/project.nuget.cache
MindMap_General_Purpose_API/obj/project.assets.json
MindMap_General_Purpose_API/obj/MindMap_General_Purpose_API.csproj.nuget.dgspec.json
MindMap_General_Purpose_API/obj/Debug/netcoreapp3.1/MindMap_General_Purpose_API.csprojAssemblyReference.cache
MindMap_General_Purpose_API/obj/Debug/netcoreapp3.1/MindMap_General_Purpose_API.csproj.FileListAbsolute.txt
MindMap_General_Purpose_API/obj/Debug/netcoreapp3.1/MindMap_General_Purpose_API.assets.cache
