#VS files
.\vs
.\vscode

#EmailAPI
MindMap_Email_API/bin
MindMap_Email_API/obj
MindMap_Email_API/.config
MindMap_Email_API/Properties/PublishProfiles

#Gateway
MindMap_Gateway/bin
MindMap_Gateway/obj
MindMap_Gateway/.config
MindMap_Gateway/Properties/PublishProfiles

#GeneralPurposeAPI
MindMap_General_Purpose_API/bin
MindMap_General_Purpose_API/obj
MindMap_General_Purpose_API/.config
MindMap_General_Purpose_API/Properties/PublishProfiles

#WS 
MindMap_WebsocketServer/bin
MindMap_WebsocketServer/obj

#test
xUnit_General_Purpose_API/bin
xUnit_General_Purpose_API/obj
/TestResults

#shared
/TestResults
SharedResources/bin
SharedResources/obj
